# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:** 
- List popular languages that Data Scientists use
- List commonly used libraries used by Data Scientists
- Create a single column table indicating development environment open source tools

#### Some of the popular languages that Data Scientists use are:

1. R
2. Pyton
3. SQL

#### Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. TensorFlow
4. PyTorch

#### Data Science Tools
|Data Science Tools |
|-|
|Jupyter Notebook|
|RStudio|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author 
Yunyeong Choi